:host(#tasks-page-container) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
}

/* Firefox */
:host(#tasks-page-container) {
    scrollbar-width: 0.8em;
    scrollbar-color: hsl(var(--bc)) hsl(var(--b2));
}

/* Chrome, Safari y Edge */
:host(#tasks-page-container)::-webkit-scrollbar {
    width: 0.9em;
}

:host(#tasks-page-container)::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.7em;
}

:host(#tasks-page-container)::-webkit-scrollbar-thumb {
    background-color: hsl(var(--bc));
    border-radius: 20px;
    border: 4px solid hsl(var(--b2));
}

div.badge {
    line-height: unset;
    height: unset;
}