input.invalid {
    border: 1px solid #e84118;
    outline: 2px solid #e84118;
}

span.invalid {
    color: #e84118
}

.alert.invalid {
    background-color: #e84118;
}

select.invalid {
    border: 1px solid #e84118;
    outline: 2px solid #e84118;
}